@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>
<address>
    <strong>More information: <a href="https://github.com/Werner1201">My Github Page</a></strong>
</address>